- name: install jenv
  git:
    repo: https://github.com/jenv/jenv.git
    dest: ~/.jenv
    force: yes

- name: install clojure
  become: yes
  become_user: root_ansible
  package:
    name:
      - clojure
      - leiningen

- name: install programming AUR packages
  become: yes
  become_user: aur_builder
  aur:
    name:
      - fnm-bin
      - rbenv
